<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>.::InterNexa::.</title>
    <link rel="icon" href="https://www.internexa.com/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
   <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif !important;
        }
    </style>
    <div class="container-fluid" style="margin-bottom:50px;">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:30px;background:#004F9A;">
                <div class="text-center">
                    <img src="https://www.internexa.com/assets/images/logo-rgb.png" alt="">
                </div>
                <h1 class="text-center" style="color:#ffffff;margin:0px;">
                    Recebido!
                </h1>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:20px;">
            <div class="col-xs-12 col-sm-9 col-lg-6">
                <p class="text-center" style="font-size:22px;font-weight:bold;">
                    Entraremos em contato em breve para responder a todas as suas perguntas.
                </p>
            </div>
        </div>
    </div>
</body>
</html>